  *{  
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
  }
  
  /*CSS dos Inputs*/
  input[type=text], select {
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  /*CSS dos Inputs*/
  input[type=submit], [type=reset]{
    width: 15%;
    background-color: #4c6faf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  /*CSS dos Botões*/
  button{
    width: 150px;
    background-color: #4c6faf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #30539e;
  }

  /*Efeitos ao passar o mouse por cima dos botões*/
  input[type=submit]:hover {
    background-color: #30539e;
  }
  input[type=reset]:hover {
    background-color: #30539e;
  }

  /*CSS do botão Voltar*/
  .voltar{
    width: 100px;
    background-color: #4c6faf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /*CSS do Formulário*/
  .form {
    margin: auto;
    width: 40%;
    border-radius: 5px;
    background-color: #ff702a;
    padding: 20px;    
  }

  /*CSS da classe título*/
  .titulo{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /*Alinhar classe bottom */
  .bottom{
      text-align: center;
  }


  /*CSS da classe container*/
  .container {
    display: flex;
    justify-content: center; 
  }

    /*Retirar marcação de lista*/
  .container ul {
    list-style-type: none;
  }
  /*Espaçamento entre os itens da lista*/
  .container ul li {
    margin-top: 7px;
    padding-bottom: 3px;
  }
  
  table{ /** Faz o estilo da tabela inteira. **/
      background: orange; /** Coloca um fundo laranja. **/
      border-color: blue; /** Insere a borda azul. **/
      border-style: none; /** Define a borda pontilhada. **/
  }

  th{/** Faz o estilo para as células do cabeçalho. **/
    background: #666; /** Muda para um fundo cinza. **/
    color: white; /** Troca a cor da fonte para branco. **/
 }
 
  body{
  color: #fff;
  background: #1e1c2a;
}